body {
  background: #e9d0d0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px; /* Add padding for better spacing */
  color: white; /* Text color for the header */
}

.header_1 {
  font-size: 79px; /* Adjust the font size for the header text */
  font-weight: bold; /* or any other style you want */
  text-align: center;
  color: #330fd3;
}

.container {
  display: flex wrap;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
}

.main-column {
  width: 90%; /* Adjust as needed */
  margin: 0 auto; /* Center the main column */

}

.sidebar {
  width: 30%; /* Adjust as needed */
  display: grid-row;
  align-items: center;
}

/* Add styles for the buttons */
button {
  font-size: 26px;
  font-weight: bold;;
  padding: 15px 30px;
  margin: 10px;
  background-color: #4caf50; /* Green background color */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.section-title {
  color: green;
  font-size: 46px;
  font-family: 'Times New Roman', 'Arial', serif;
  text-decoration: underline;
  list-style: none;
}

.sub-title {
  font-family: 'Times New Roman', 'Arial', serif;
  text-decoration: inherit;
}

.image-source {
  color: gray;
  font-size: 20px;
}

.paragraph {
  color: blue;
  font-family: 'Arial', 'Times New Roman', sans-serif;
  font-size: 36px;
  clear: both;
}

.image {
  width: 100%;
  border-style: dotted;
  border-color: azure;
  border-radius: 18px;
  margin: 0 0 10px 0;
  align-items: center;
}

.footer {
  background-color: #2196F3; /* Header and footer background color */
  color: white;
  text-align: left;
  padding: 20px 0;
  font-size: 25px;
}

.footer p {
  margin: 0 0 5px 5px;
  font-size: 27px;
}

.footer a {
  color: black;
  text-decoration: none;
  margin: 5px 0 0 5px;
  font-weight: bold;
}
.backlink {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.backlinks:hover {
  color: blue; /* Change text color when hovered */
  background-color: yellow; /* Change background color when hovered */
  transform: scale(1.2);
}
