/* style.css */

body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}

ul {
    max-height: 1000px;
    overflow-y: auto;

    /* Scrollbar styling for webkit browsers */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

audio {
    width: 100%;
    margin-top: 10px;
}

/* Button Styles */
button {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.active {
    background-color: #4CAF50;
    color: white;
}

.audio-controls button {
    padding: 10px
