/* Reset default styles */
body, h1, ul {
    margin: 0;
    padding: 0;
}

/* Add custom styles here */

body {
    background-color: #f5f5f5; /* Light gray background */
    font-family: Arial, sans-serif; /* Use a common font for better cross-browser compatibility */
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, middle content, footer */
    min-height: 100vh;
}

.header, .footer {
    background-color: #2196F3; /* Header and footer background color */
    color: white;
    text-align: center;
    padding: 20px 0;
}

.middle-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.menu {
    flex-basis: 23%; /* Adjust widths as needed */
    background-color: #fff;
    margin-top: 20px; /* Adjust margin top */
    margin-bottom: 20px; /* Adjust margin bottom */
    align: left;
}

.main {
    flex-basis: 77%; /* Adjust width for the main content */
    background-color: #fff;
}

.image-left, .image-right, .image-center {
    border: 2px dotted azure; /* Simplified border style */
    border-radius: 18px;
    margin-bottom: 10px; /* Adjust margin for better spacing */
    display: block; /* Make the images block-level elements */
}

/* Styles for left-aligned images */
.image-left {
    float: left;
    width: 300px;
    height: 200px;
    margin-right: 10px; /* Add right margin to avoid overlapping */
}

/* Styles for right-aligned images */
.image-right {
    float: right;
    width: 300px;
    height: 200px;
    margin-left: 10px; /* Add left margin to avoid overlapping */
}

/* Styles for center-aligned images */
.image-center {
    float: right;
    width: 820px;
    height: 400px;
    margin: 0 15px 0px 0;
}
