/* Add custom styles here */
body {
  background-color: #68720e; /* Light gray background */
  font-family: Arial, sans-serif; /* Use a common font for better cross-browser compatibility */
  margin: 0;
  padding: 0;
}
 
.grid-page {
  display: grid;
  grid-template-rows: auto auto auto; /* Header, middle content, footer */
  min-height: 100vh;
}
.header {
  background-color: #2196F3; /* Header and footer background color */
  font-weight: bold; 
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0;
  font-size: 69px;
  background-image: url('../image/forest_6.jpeg'); /* Path to your image */
  background-size: 100% ; /* Cover the entire page */
  background-position: center; /* Center the background image */
}

/* Add the CSS rules for hover effect */
.header-menu-hover:hover {
  color: rgb(255, 242, 0); /* Change text color when hovered */
  background-color: rgb(11, 193, 8); /* Change background color when hovered */
  transform: scale(1.2);
}

.middle-row {
  display: flex;
  justify-content: space-between; /*flexbox */
  gap: 10px;
  padding: 0px 10px 10px 10px;
}

.larger-menu {
  font-size: 50px; /* Adjust the font size for larger-menu */
  color: white; /* Adjust the color for larger-menu */
  text-align: center; 
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu {
  flex-basis: 25%; /* Adjust widths as needed */
  margin-top: 10px; /* Adjust margin top */
  text-align: center; /* Align menu items to the left */
  background-image: url('../image/forest_3.jpeg'); /* Path to your image */
  background-size: cover; /* or 100% 100% */
  background-position: center;
  background-repeat: no-repeat;
}

.menu ul {
  display: flex; /* Use flexbox to align items */
  flex-direction: column; /* Align items vertically */
  align-items: flex-start; /* Align items vertically */
  list-style: none; /* Remove default list styles */
  margin: 0 0 10px 30px; /* Adjust spacing between items */
  padding: 0;
}

.menu ul a {
  display: flex; /* Use flexbox for link items */
  align-items: center; /* Align items vertically */
  text-decoration: none; /* Remove default underline */
}

.menu ul a img {
  margin-right: 10px; /* Adjust spacing between image and text */
  font-size: 24px;
}

.text-icon {
  display: inline-block; /* Allows transform to affect the element */
  align-items: center;
  font-size: 26px; /* Original font size */
  color: rgb(255, 255, 255);
  /* background-color: aqua; */
  text-decoration: underline;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.text-icon:hover {
  transform: scale(1.2); /* Enlarge text on hover */
  color: #000; /* Optional: Change color on hover */
  text-decoration: none; /* Optional: Remove underline on hover */
}
.text-icon:hover em {
  color:blueviolet;
  background-color: yellow; 
}

.text-icon img {
  margin-right: 5px; /* Adjust spacing between image and text */
  color: blue; /* Adjust the color for text-icon */
}
/* Styles exclusively for elements inside .grid-main */
.grid-main {
  width:75%;
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr)); /* Create as many columns as needed, each at least 300px wide */
  margin: 10px 0 0px 0px;
  gap: 0px; /* Space between grid items */
  padding: 10px; /* Padding around the entire grid */
  background-image: url('../image/forest_6.jpeg'); /* Path to your image */
  background-size: 100% ; /* Cover the entire page */
  background-position: center; /* Center the background image */
}

/* Targeting anchor tags that directly contain an image with class .image-main */
.grid-image-main {
  background-color: rgba(255, 255, 255, 0);
  margin: 20px 0 0 0px;
  padding: 20px;
  font-size: 30px; /* Adjust based on content */
  text-align: center;
  overflow: hidden; /* Ensures no overflow out of the container */
}

.grid-main a:hover img {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2); /* More pronounced shadow on hover */
  transform: scale(1.2); /* Slightly enlarge images on hover */
}

.image-main {
  width: 300px; /* Maximum original width */
  height: 200px; /* Make the image width responsive to the container size */
  border: 4px dotted rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px; /* Adjust margin for better spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds depth with shadow */
}

/* Additional styles for icon images */
.image-main-icon {
  width: 50px; /* Set the width of the icon */
  height: 40px; /* Auto adjust height to maintain aspect ratio */
  margin: 3px 0px 3px 0px;
  text-align: left; /* Align icon images to the left */
  float: center;
}

/* Styles for center-aligned images */
.footer {
  background-color: #2196F3; /* Header and footer background color */
  color: white;
  text-align: left; 
  padding: 20px 0;
  font-size: 25px;
}

.footer p {
  margin: 5px 0 10px;
  font-size: 27px;
}

.footer a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.footer-hover:hover {
  color: blue; /* Change text color when hovered */
  background-color: yellow; /* Change background color when hovered */
  /* Add any other styles you want to apply when hovered */
}

@media (max-width: 768px) {
  .grid-main {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets and similar devices */
  }
}

@media (max-width: 480px) {
  .grid-main {
    grid-template-columns: 1fr; /* 1 column for mobile phones */
  }
}
